.benefits {
	min-height: 2.9375rem;
	padding-top: 4.6875rem;
	background-color: #F6F6F6;;
	&__title {
		font-weight: 700;
		font-size: 1.875rem;
		text-align: center;
		text-transform: uppercase;
	}
	&__wrapper {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
	}
	&__item {
		display: flex;
		flex-direction: column;
		width: 17.5rem;
		text-align: center;
		&-img {
			margin-top: 3.75rem;
		}
		&-title {
			margin-top: 2.1875rem;
			font-weight: 700;
			font-size: 1.125rem;
		}
		&-text {
			margin-top: 1.25rem;
			font-size: 0.875rem;
			padding: 0 1.9375rem;
		}

	}
}